#board_modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.332);
    align-items: center;


    input {
        border-radius: 20px;
        border: 1px solid;
        padding: 10px 0 10px 10px;
        background-color: rgba(253, 254, 255, 0.294);
    }
}

#board_content {
    height: 80%;
    width: 80%;
    background-color: black;
    border-radius: 20px;


    display: grid;
    grid-template-areas:
        ". search close"
        "results results results"
        ". title ."
        ". description ."
        "submit submit submit"
    ;

    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 4fr 1fr 2fr  0.5fr;
}

#title_category {
    grid-area: title;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 10px;

    select {
        background-color: white;
        color: black;
    }
}

#search {
    grid-area: search;
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;

    input { margin-right: 20px ;}
}

#gif_results::-webkit-scrollbar{
    display: none;
}

#gif_results {
    grid-area: results;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow: scroll;

    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;

}

.gif_image {
    transition: 0.2s;
    cursor: pointer;
}

.gif_image:hover {
    scale: 1.2;
    border: solid 2px aliceblue;
}


#description {
    grid-area: description;

    input {
        height: 80%;
        width: 100%;

    }
}


#submit {
    grid-area: submit;
    display: flex;
    justify-content: center;

    button {
        width: 200px;
        border-radius: 20px;
    }
    padding-bottom: 20px;
}
#close_btn{
    grid-area: close;

    svg{
        float: right;
        right: 0;
        margin: 20px 20px 0 0;
        cursor: pointer;
    }
}
