

#search {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-area: search ;
    width: 100%;

    p{
        background-color: rgba(86, 86, 86, 0.273);
        padding: 10px 20px;
        border-radius: 20px;
        transition: 0.2s;

    }

    p:hover {
        background-color: rgba(255, 255, 255, 0.273);
        scale: 1.1;
    }

    input {
        width: 300px;
        padding: 0 0 10px 0;
        text-align: center;
        background: transparent;
        border: 0;
        outline: 0;
        border-bottom: 2px solid gray;
    }

}

button {
    width: 200px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
        margin: 20px;
        cursor: pointer;
    }

    #current{
        background-color: rgba(255, 255, 255, 0.273);
        scale: 1.1;
    }
}
