#boardContent {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;

  grid-template-areas:
    "kudos . topbar"
    ". search ."
    ". slide ."
    "footer footer footer";

  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 5fr 0.5fr;


  #header {
    grid-area: topbar ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;

    #login {
      background-color: rgba(0, 128, 0, 0.417);
      padding: 5px 15px 5px 15px;
      border-radius: 10px;
    }

    #signout{
      background-color: rgba(255, 0, 0, 0.412);
      padding: 5px 15px 5px 15px;
      border-radius: 10px;
    }
  }


  #search {
    grid-area: search ;

  }

  #content::-webkit-scrollbar{
    display: none;
  }

  #content {
    grid-area: slide;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 20px;
    padding: 10px 0 0 10px;
    background-color: rgba(220, 220, 220, 0.094);

    .main_board {
      margin: 20px;
    }
  }

  #footer {
    grid-area: footer;
    margin-left: 20px
  }

  #kudos{
    grid-area: kudos;
    padding-left: 10%;
    font-weight: 1000;
  }

}
